.ab{
    padding-left: 20px;
    padding-right: 25px;
}
.Education{
    float: left;
  width: 32%;
  padding: 5px;
}
.Education1{
    float: left;
  width: 32%;
  padding: 5px;
}
.Education2{
    float: left;
  width: 32%;
  padding: 5px;
}